@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format('opentype');

 }

*{
    margin: 0px;
    padding: 0px;
}

/* HEADER */

header {
    background-image: linear-gradient(to bottom, rgba(5, 194, 5, 0.733), rgb(2, 59, 2));
    padding: 40px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 3px rgb(0, 0, 0);   
}

header > h1 {
    color: rgba(255, 255, 255, 0.952);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header > p {
   color: rgba(255, 255, 255, 0.952);
   font: 16px Arial, sans-serif;
   text-align: center;
}

nav > a{
  color: rgba(255, 255, 255, 0.952);
  font: bold 15px Arial, sans-serif;
  text-decoration: none;
  padding-right: 17px;
}

nav {
    margin-top: 50px;

}

nav > a:hover{
    background-color: rgba(255, 255, 255, 0.616);
}

/* MAIN */   

body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(184, 183, 183, 0.322);
    
}
p{
    font: 14px Arial, sans-serif;
    text-indent: 17px;
    line-height: 30px;
    text-align: justify;
}
main{
    min-width: 400px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    
}
main img {
    width: 100%;
}
h1{
    font-family: 'idroid';
    font-size: 30px;
    color: green;
}
h2{
    font-family: 'idroid';
    color: green;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.404), white);
    padding-left: 8px;
    
}
a.link{
    background-color: rgb(171, 228, 171);
    font-weight: bold;
    color: green;
    text-decoration: none;
    padding: 5px;
}
img#bugdroid{
    width: 400px;
    margin: auto;
    display: block;
}

div#video{
position: relative;
background-color: rgb(2, 59, 2);
margin: 0px -10px;
padding: 30px 0px;
padding-bottom: 60%;
}

div#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
strong.destaque{
    color: green;
}
section#extra{
    background-color: rgb(171, 228, 171);
    margin: 30px;
    padding: 0px 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
}
p#extrap{
    color: white;
    font: bold 15px Arial, sans-serif;
    background-color: rgb(2, 59, 2);
    margin: 0px -21px 0px -21px;
    padding: 10px;
}
ul{
    columns: 2;
}

/* FOOTER */

footer > p{
    color: white;
    background-color: rgb(2, 59, 2);
    font: 12px Arial, Sans-serif;
    text-align:center;
    margin: 0px;
    margin-top: 30px;
    padding: 5px 0px;
}